@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* common css */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}


/* header section styles */
.header{
    display: flex;
    justify-content: space-between;
    padding: 85px 120px;
    align-items: center;
   
}
.menu-logo a{
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 700;
}
.menu-section ul{
    display: flex;
    gap: 34px;
    list-style: none;
    font-size: 18px;
    align-items: center;
}
.menu-section ul li a{
    text-decoration: none;
    color: #000;
}
.menu-section ul li i{
   font-size: 22px;
}
.responsive-header{
    display: none;
}
/* camera-section */

.camera{
    display: flex;
    margin: 85px 120px;
    justify-content: space-between;
    align-items: center;
    
}
.text-area h3{
    font-size: 52px;
    line-height: 70px;
}
.text-area{
    width: 582px;
} *
.text-area p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 16px 0;
}
.text-area button{
    width: 200px;
    height: 44px;
    background: #E02C6D;
    border: none;
    border-radius: 40px;
    font-size: 16px;
   
}
.text-area button a{
    text-decoration: none;
    color: #fff;
}
.image-area img{
    border: 3px solid #F7F0FF; 
    border-radius: 50%;
    width: 100%
}

/* logo section styles */
.logo-section{
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   text-align: center;
   align-items: center;
   justify-content: space-between;
   margin: 100px 165px;
  
}

/* collection section styles */
.collection{
    margin: 0 195px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    row-gap: 30px;
}
.article-section{
    box-shadow: 1px 3px 30px #ddd;
    width: 300px;
    padding:  15px;
    border-radius: 7px;
}
.article-section img{
    width: 300px;
    height: 256px;
}
.article-header{
    font-size: 28px;
    font-weight: 500px;
}
.price{
    font-size: 24px;
    font-weight: 400;
}
.star{
    color: #FB8200;
}
.description{
    font-size: 14px;
    color: #787885;
}


/* responsive */
@media screen and (max-width: 576px) {
 
    .responsive-header{
    visibility: visible;
    display: flex;
    justify-content: space-between;
    margin: 35px 16px;
   }
   .responsive-header h3{
    font-size: 16px;
    font-weight: 700;
   }
   .header-section{
    display: none;
   }
   .text-area {
    width: 350px;
   }
   .camera{
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    gap: 30px;
    margin: 0 20px;
  }
   .logo-section{
   display: none;
   }

  .collection{
    grid-template-columns: repeat(1,1fr);
    margin: 30px 5px;
  }
}